<div class="grid grid-cols-3 gap-4 p-4">
    <div class="relative group">
      <img src="assets/gallery/exterior/CANAS-EXTERIOR-3-scaled.jpg" alt="Exterior" class="w-full h-full object-cover">
      <div class="absolute bottom-0 left-0 w-full bg-gray-800 bg-opacity-75 text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <a href="#" class="text-white">Exterior</a>
      </div>
    </div>
    <div class="relative group">
      <img src="assets/gallery/interior/CANAS-INTERIOR-3-scaled.jpg" alt="Interior" class="w-full h-full object-cover">
      <div class="absolute bottom-0 left-0 w-full bg-gray-800 bg-opacity-75 text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <a href="#" class="text-white">Interior</a>
      </div>
    </div>
    <div class="relative group">
      <img src="assets/gallery/museo/MUSEO-1-scaled.jpg" alt="Museo" class="w-full h-full object-cover">
      <div class="absolute bottom-0 left-0 w-full bg-gray-800 bg-opacity-75 text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <a href="#" class="text-white">Museo</a>
      </div>
    </div>
    <div class="relative group">
      <img src="assets/gallery/retablo/CANAS-RETABLO-2-scaled.jpg" alt="Retablo" class="w-full h-full object-cover">
      <div class="absolute bottom-0 left-0 w-full bg-gray-800 bg-opacity-75 text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <a href="#" class="text-white">Retablo</a>
      </div>
    </div>
    <div class="relative group">
      <img src="assets/gallery/sepulcro/SEPULCRO-1-scaled.jpg" alt="Sepulcro" class="w-full h-full object-cover">
      <div class="absolute bottom-0 left-0 w-full bg-gray-800 bg-opacity-75 text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <a href="#" class="text-white">Sepulcro</a>
      </div>
    </div>
  </div>
  <app-image-slider></app-image-slider>