<div class="px-7 pt-5 sm:px-20 mt-5 pb-2">
  <h1 class="text-2xl sm:text-3xl font-semibold">Política de Devoluciones</h1>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">1. Horarios de Acceso</h2>
  <p>
    El acceso a los monumentos está garantizado únicamente durante las franjas horarias disponibles. Según la Ley
    16/1985, de 25 de junio, del Patrimonio Histórico Español (artículo 49), los horarios de apertura y cierre de los
    monumentos pueden variar según la temporada o eventos especiales. Los visitantes deben consultar los horarios
    vigentes
    y respetarlos al planificar su visita.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">2. Normas de Uso</h2>
  <p>
    Las entradas deben utilizarse siguiendo exclusivamente las normas de uso establecidas por los trabajadores en las
    taquillas y la información proporcionada a través de correos electrónicos, así como las dispuestas en la web oficial
    de la Catedral de Santo Domingo de la Calzada. Estas normas están respaldadas por la Ley 13/2011, de 23 de
    diciembre,
    de Turismo de La Rioja (artículo 46), que establece la obligación de informar a los visitantes sobre las condiciones
    de acceso y uso de los monumentos.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">3. Cambios y Devoluciones</h2>
  <p>
    Conforme al Real Decreto Legislativo 1/2007, de 16 de noviembre, por el cual se aprueba el texto refundido de la Ley
    General para la Defensa de los Consumidores y Usuarios (artículo 103), una vez adquirido y reservado el servicio, no
    se
    admiten cambios ni devoluciones, salvo en los casos expresamente de cancelación del evento por parte de los
    organizadores.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">4. Compra de Entradas</h2>
  <p>
    Queda prohibida la adquisición de entradas a través de canales distintos a las taquillas de los monumentos. Esta
    restricción se basa en el artículo 20 de la Ley 17/2001, de 7 de diciembre, de Marcas, que establece la prohibición
    de
    comercializar o distribuir productos que infrinjan derechos de propiedad intelectual, como las entradas no
    autorizadas.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">5. Reservas para Grupos</h2>
  <p>
    Para la gestión y reserva de grupos, es necesario contactar a través del correo electrónico oficial de reservas:
    entradas&#64;catedralsantodomingo.org. Estas reservas están sujetas a disponibilidad y deben cumplir con los
    requisitos
    establecidos por la Ley Orgánica 1/2002, de 22 de marzo, reguladora del Derecho de Asociación (artículo 22). El
    visitante
    debe confirmar la reserva del grupo, ya que la falta de confirmación puede entenderse como no confirmación o
    cancelación.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">6. Tarifas Especiales</h2>
  <p>
    Se aplicarán tarifas especiales para menores de entre 6 y 14 años y/o para grupos de 25 personas o más, siempre que
    se acredite esta
    condición con el carnet
    oficial en las taquillas de los monumentos y se cumpla con las condiciones establecidas.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">7. Descuentos y Promociones</h2>
  <p>
    Los descuentos y promociones no son acumulables entre sí. Esta restricción se rige por la Ley 3/1991, de 10 de
    enero,
    de Competencia Desleal (artículo 12), que prohíbe la práctica de acumular o combinar promociones que puedan generar
    confusiones o distorsiones en el mercado. Cada descuento o promoción debe ser utilizado de manera individual y
    siguiendo
    las condiciones específicas establecidas para cada uno.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">8. Contacto</h2>
  <p>
    Si tiene alguna pregunta sobre nuestra política de devoluciones, puede contactarnos a:
  </p>
  <p class="text-gray-900 font-semibold">Monasterio de Santa María de San Salvador de Cañas</p>
  <p>Dirección: Carretera 12, 26312 Cañas, La Rioja, España</p>
  <p>Correo electrónico: entradas&#64;monasteriodecanas.org</p>
  <p>Teléfono: +34 941 37 91 45</p>
  <p class="pb-10">Fecha de entrada en vigor: 1 de abril de 2023</p>
</div>