<div class="carousel-container">
    <div class="carousel">
      <button class="nav-arrow left-arrow" (click)="previousSlide()"></button>
      <div class="carousel-image" *ngFor="let slide of slides; let i = index" [ngClass]="{'active': i === currentIndex}">
        <img [src]="slide.image" alt="Slide image">
      </div>
      <button class="nav-arrow right-arrow" (click)="nextSlide()">></button>
      <div class="navigation">
        <span>{{currentIndex + 1}} - {{slides.length}}</span>
      </div>
    </div>
    <div class="thumbnails">
      <img *ngFor="let slide of slides; let i = index" [src]="slide.image" (click)="goToSlide(i)" [ngClass]="{'selected': i === currentIndex}">
    </div>
    <button class="close-btn" (click)="closeCarousel()">X</button>
  </div>
