.informacion {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.menu {
  font-weight: 500;
  color: #6B7280;
  padding-top: 0.25rem;
}

.menu .horarios-title {
  font-size: 1rem;
}

.menu .horarios {
  font-size: 0.8rem;
}

.home {
  font-size: 1rem;
  font-weight: 500;
  color: #6B7280;
  padding-top: 0.25rem;
}

.home .horarios {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.home .close {
  font-size: 0.9rem;
  padding-top: 0.5rem;
}

.flex-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  /* Ajusta el espacio entre botones si es necesario */
}


:host {
  display: block;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem auto;
}

@media (min-width: 768px) {
  .close {
    font-size: 1.1rem;
    padding-top: 1rem;
  }

  .home .horarios {
    font-size: 1.75rem;
    padding-top: 0.5rem;
  }

}