<!-- <div class="informacion flex justify-center items-center">
  <div class="rounded-lg shadow-lg p-8 max-w-2xl w-full mx-4">
    <div class="mb-4">
      <img src="assets/img_logo/cropped-Logotipo-Canas-Luz-BLANCO.png" alt="Logotipo" class="w-full rounded-t-lg">
    </div> -->
<!-- <div class="bg-white rounded-lg overflow-hidden shadow-lg p-6">
      <div class="px-6 py-4">
        <div class="font-bold text-5xl mb-2 text-black-700">ABIERTO</div>
        <p class="text-gray-700 font-bold text-black-500 text-4xl">TODOS LOS DÍAS</p>
        <p class="text-gray-700 font-bold text-4xl">
          De 10.30 a 14.30 horas<br>
          (última entrada 14.00 horas)<br>
          De 16.00 a 20.00 horas<br>
          (última entrada 19.30 h
        </p>
      </div>
      <div class="px-6 pt-4 pb-2 text-center">
        <button [routerLink]="['/faq']" class="bg-blue-700 hover:bg-blue-700 text-xl text-white font-bold py-2 px-4 rounded">
          MÁS INFORMACIÓN
        </button>
      </div>
    </div> -->
<!-- </div>
</div> -->

<div class="informacion" [ngClass]="{ 'home': !isInMenu, 'menu': isInMenu }">
  <div class="justify-center">
    <div class="horarios-title font-bold text-xl text-black-700 text-center">ABIERTO TODOS LOS DIAS</div>
    <p class="horarios text-gray-700 font-bold text-xl text-center">De 10.30 a 14.30 horas</p>
    <p class="horarios text-gray-700 font-bold text-xl text-center">De 16.00 a 20.00 horas</p>
    <p class="close text-center text-sm sm:text-md"><i>(Última entrada 30 minutos antes del cierre)</i></p>
  </div>
  <div *ngIf="!isInMenu" class="px-6 pt-7 pb-2 text-center">
    <button [routerLink]="['/faq']" class="bg-blue-700 hover:bg-black text-white font-bold py-2 px-3 rounded">
      MÁS INFORMACIÓN
    </button>
  </div>
</div>