<!-- <h1 class="font-bold">Nuestras diferentes ofertas</h1>
<div class="container mx-auto px-4 py-8">
  <div class="flex flex-wrap -mx-2 justify-center">
    <div class="w-full sm:w-1/2 md:w-1/4 px-2 mb-4">
      <div class="card1 bg-white p-6 rounded-lg shadow-lg card flex flex-col justify-between h-full">
        <div class="flex-grow">
          <h2 class="text-3xl font-bold mb-2 text-center card-title">VISITA SIN GUÍA (ADULTOS)</h2>
          <p class="text-center text-2xl text-black-600 mb-4">5€</p>
          <ul class="text-gray-700 mb-6">
            <li class="mb-2">Iglesia del siglo XII</li>
            <li class="mb-2">Sala Capitular</li>
            <li class="mb-2">Claustro</li>
            <li class="mb-2">Cilla-Museo</li>
            <li class="mb-2">Sala de las reliquias</li>
          </ul>
        </div>
        <div class="text-center mb-2">
          <button class="bg-blue-500 text-white px-4 py-2 rounded">Comprar</button>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2 mb-4">
      <div class="card2 bg-white p-6 rounded-lg shadow-lg card flex flex-col justify-between h-full">
        <div class="flex-grow">
          <h2 class="text-3xl font-bold mb-2 text-center card-title">VISITA SIN GUÍA (NIÑOS)</h2>
          <p class="text-center text-2xl text-black-600 mb-4">2€</p>
          <ul class="text-gray-700 mb-6">
            <li class="mb-2">Iglesia del siglo XII</li>
            <li class="mb-2">Sala Capitular</li>
            <li class="mb-2">Claustro</li>
            <li class="mb-2">Cilla-Museo</li>
            <li class="mb-2">Sala de las reliquias</li>
          </ul>
        </div>
        <div class="text-center mb-2">
          <button class="bg-blue-500 text-white px-4 py-2 rounded">Comprar</button>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2 mb-4">
      <div class="card3 bg-white p-6 rounded-lg shadow-lg card flex flex-col justify-between h-full">
        <div class="flex-grow">
          <h2 class="text-2xl font-bold mb-2 text-center card-title">VISITA GUIADA (INDIVIDUAL)</h2>
          <p class="text-center text-2xl text-black-600 mb-4">7€</p>
          <ul class="text-gray-700 mb-6">
            <li class="mb-2">Iglesia del siglo XII</li>
            <li class="mb-2">Sala Capitular</li>
            <li class="mb-2">Claustro</li>
            <li class="mb-2">Cilla-Museo</li>
            <li class="mb-2">Sala de las reliquias</li>
            <li class="mb-2">Recorrido guiado por la Iglesia</li>
            <li class="mb-2">Recorrido guiado por la Sala Capitular</li>
            <li class="mb-2">Recorrido guiado por el Claustro</li>
            <li class="mb-2">Recorrido guiado por la Sala de las Reliquias</li>
          </ul>
        </div>
        <div class="text-center mb-2">
          <button class="bg-blue-500 text-white px-4 py-2 rounded">Comprar</button>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2 mb-4">
      <div class="bg-white p-6 rounded-lg shadow-lg card flex flex-col justify-between h-full bg-yellow-100">
        <div class="flex-grow">
          <h2 class="text-2xl font-bold mb-2 text-center card-title">VISITAS GUIADAS (GRUPOS MÁS DE 25 PERSONAS)</h2>
          <p class="text-center text-2xl text-black-600 mb-4">4€</p>
          <ul class="text-gray-700 mb-6">
            <li class="mb-2">Iglesia del siglo XII</li>
            <li class="mb-2">Sala Capitular</li>
            <li class="mb-2">Claustro</li>
            <li class="mb-2">Cilla-Museo</li>
            <li class="mb-2">Sala de las reliquias</li>
          </ul>
        </div>
        <div class="text-center mb-2">
          <button class="bg-blue-500 text-white px-4 py-2 rounded">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container mx-auto px-4 py-8">
  <div class="main-card bg-white p-4 rounded-lg shadow-lg">
    <h1 class="font-bold text-center mb-4">Nuestras diferentes ofertas</h1>

    <div class="sub-card bg-white p-4 rounded-lg shadow-lg mb-4">
      <h2 class="text-2xl font-bold mb-2 text-center">Visitas Sin Guía</h2>
      <div class="flex flex-wrap justify-center">
        <div class="w-full sm:w-1/2 lg:w-1/2 px-2 mb-4">
          <div class="bg-white p-4 rounded-lg shadow-lg card flex flex-col justify-between h-full card1">
            <div class="flex-grow">
              <h2 class="text-xl font-bold text-center card-title">ADULTOS</h2>
              <p class="text-center text-3xl font-bold text-black-600 mb-4">5€</p>
              <ul class="text-gray-700 mb-4">
                <li class="mb-1">Iglesia del siglo XII</li>
                <li class="mb-1">Sala Capitular</li>
                <li class="mb-1">Claustro</li>
                <li class="mb-1">Cilla-Museo</li>
                <li class="mb-1">Sala de las reliquias</li>
              </ul>
            </div>
            <div class="text-center mb-2">
              <button class="card-button bg-blue-500 text-white px-4 max-w py-2 rounded">Comprar</button>
            </div>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/2 px-2 mb-4">
          <div class="bg-white p-4 rounded-lg shadow-lg card flex flex-col justify-between h-full card2">
            <div class="flex-grow">
              <h2 class="text-xl font-bold text-center card-title">NIÑOS</h2>
              <p class="text-center text-3xl font-bold text-black-600 mb-4">2€</p>
              <ul class="text-gray-700 mb-4">
                <li class="mb-1">Iglesia del siglo XII</li>
                <li class="mb-1">Sala Capitular</li>
                <li class="mb-1">Claustro</li>
                <li class="mb-1">Cilla-Museo</li>
                <li class="mb-1">Sala de las reliquias</li>
              </ul>
            </div>
            <div class="text-center mb-2">
              <button class="card-button bg-blue-500 text-white px-4 py-2 rounded">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="sub-card bg-white p-4 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold mb-2 text-center">Visitas Guiadas</h2>
      <div class="flex flex-wrap justify-center">
        <div class="w-full sm:w-1/2 lg:w-1/2 px-2 mb-4">
          <div class="bg-white p-4 rounded-lg shadow-lg card flex flex-col justify-between h-full card3">
            <div class="flex-grow">
              <h2 class="text-xl font-bold text-center card-title">INDIVIDUAL</h2>
              <p class="text-center text-3xl font-bold text-black-600 mb-4">7€</p>
              <ul class="text-gray-700 mb-4">
                <li class="mb-1">Iglesia del siglo XII</li>
                <li class="mb-1">Sala Capitular</li>
                <li class="mb-1">Claustro</li>
                <li class="mb-1">Cilla-Museo</li>
                <li class="mb-1">Sala de las reliquias</li>
                <li class="mb-1">Recorrido guiado por la Iglesia</li>
                <li class="mb-1">Recorrido guiado por la Sala Capitular</li>
                <li class="mb-1">Recorrido guiado por el Claustro</li>
                <li class="mb-1">Recorrido guiado por la Sala de las Reliquias</li>
              </ul>
            </div>
            <div class="text-center mb-2">
              <button class="card-button bg-blue-500 text-white px-4 py-2 rounded">Comprar</button>
            </div>  
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/2 px-2 mb-4">
          <div class="bg-white p-4 rounded-lg shadow-lg card flex flex-col justify-between h-full bg-yellow-100">
            <div class="flex-grow">
              <h2 class="text-xl font-bold text-center card-title">GRUPOS MÁS DE 25 PERSONAS</h2>
              <p class="text-center text-3xl font-bold text-black-600 mb-4">4€</p>
              <ul class="text-gray-700 mb-4">
                <li class="mb-1">Iglesia del siglo XII</li>
                <li class="mb-1">Sala Capitular</li>
                <li class="mb-1">Claustro</li>
                <li class="mb-1">Cilla-Museo</li>
                <li class="mb-1">Sala de las reliquias</li>
              </ul>
            </div>
            <div class="text-center mb-2">
              <button class="card-button bg-blue-500 text-white px-4 py-2 rounded">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="visits-container">
  <body class="bg-white dark:bg-gray-900">
    <section class="container px-6 py-8 mx-auto">
      <div class="header-container flex justify-between items-center">
        <h2 class="header-title text-2xl font-bold text-gray-800 lg:text-4xl dark:text-gray-100">
          Nuestras diferentes ofertas
        </h2>
        <div class="button-container space-x-4">
          <button id="btn-guiadas" (click)="showGuiadas()" class="button px-4 py-2 font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600" 
                  [ngClass]="{'bg-blue-500': mostrarGuiadas, 'bg-gray-300 dark:bg-gray-700': !mostrarGuiadas}">
            Guiadas
          </button>
          <button id="btn-no-guiadas" (click)="showNoGuiadas()" class="button px-4 py-2 font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600" 
                  [ngClass]="{'bg-blue-500': !mostrarGuiadas, 'bg-gray-300 dark:bg-gray-700': mostrarGuiadas}">
            No guiadas
          </button>
        </div>
      </div>

          <div id="guiadas" *ngIf="mostrarGuiadas" class="equal-height-container mt-8">
              <div class="equal-height-item px-6 py-4 transition-colors duration-300 transform rounded-lg hover:bg-gray-200 dark:hover:bg-gray-800">
                  <p class="texto-titulo text-lg font-medium text-gray-800 dark:text-gray-100">INDIVIDUAL</p>
                  <h4 class="mt-2 text-3xl font-semibold text-gray-800 dark:text-gray-100">7€ <span class="text-base font-normal text-gray-600 dark:text-gray-400">/ persona</span></h4>
                  <div class="mt-8 space-y-8 flex-grow">
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-700 dark:text-gray-300">Recorrido guiado por la Iglesia del siglo XII</span>
                      </div>
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-700 dark:text-gray-300">Recorrido guiado por la Sala Capitular</span>
                      </div>
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-700 dark:text-gray-300">Recorrido guiado por el Claustro</span>
                      </div>
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-700 dark:text-gray-300">Recorrido guiado por la Cilla-Museo</span>
                      </div>
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-700 dark:text-gray-300">Recorrido guiado por la Sala de las reliquias</span>
                      </div>
                  </div>
                  <button class="buy-button px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Contactar</button>
              </div>
              <div class="equal-height-item px-6 py-4 transition-colors duration-300 transform bg-gray-700 rounded-lg hover:bg-gray-900 dark:bg-gray-800">
                  <p class="texto-titulo-negro text-lg font-medium">GRUPAL</p>
                  <h4 class="mt-2 text-3xl font-semibold text-gray-100">4€ <span class="text-base font-normal text-gray-400">/ persona</span></h4>
                  <p class="mt-4 text-gray-300">Para grupos de más de 25 personas</p>
                  <div class="mt-8 space-y-8 flex-grow">
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-300">Recorrido guiado por la Iglesia del siglo XII</span>
                      </div>
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-300">Recorrido guiado por la Sala Capitular</span>
                      </div>
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-300">Recorrido guiado por el Claustro</span>
                      </div>
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-300">Recorrido guiado por la Cilla-Museo</span>
                      </div>
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-300">Recorrido guiado por la Sala de las reliquias</span>
                      </div>
                  </div>
                  <button class="buy-button px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Contactar</button>
              </div>
          </div>

          <div id="no-guiadas" *ngIf="mostrarNoGuiadas" class="equal-height-container mt-8">
              <div class="equal-height-item px-6 py-4 transition-colors duration-300 transform bg-gray-700 rounded-lg hover:bg-gray-900 dark:bg-gray-800">
                  <p class="texto-titulo-negro text-lg font-medium">ADULTOS</p>
                  <h4 class="mt-2 text-3xl font-semibold text-gray-100">5€ <span class="text-base font-normal text-gray-400">/ persona</span></h4>
                  <div class="mt-8 space-y-8 flex-grow">
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-300">Iglesia del siglo XII</span>
                      </div>

                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>

                          <span class="mx-4 text-gray-300">Sala Capitular</span>
                      </div>

                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>

                          <span class="mx-4 text-gray-300">Claustro</span>
                      </div>

                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>

                          <span class="mx-4 text-gray-300">Cilla-Museo</span>
                      </div>

                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>

                          <span class="mx-4 text-gray-300">Sala de las reliquias</span>
                      </div>
                      <p></p>
                      <br>
                  </div>
                  <button class="buy-button w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Contactar</button>
              </div>

              <div class="equal-height-item px-6 py-4 transition-colors duration-300 transform rounded-lg hover:bg-gray-200 dark:hover:bg-gray-800">
                  <p class="texto-titulo text-lg font-medium text-gray-800 dark:text-gray-100">NIÑOS</p>
                  <h4 class="mt-2 text-3xl font-semibold text-gray-800 dark:text-gray-100">2€ <span class="text-base font-normal text-gray-600 dark:text-gray-400">/ persona</span></h4>
                  <div class="mt-8 space-y-8 flex-grow">
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          <span class="mx-4 text-gray-700 dark:text-gray-300">Iglesia del siglo XII</span>
                      </div>

                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>

                          <span class="mx-4 text-gray-700 dark:text-gray-300">Sala Capitular</span>
                      </div>

                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>

                          <span class="mx-4 text-gray-700 dark:text-gray-300">Claustro</span>
                      </div>

                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>

                          <span class="mx-4 text-gray-700 dark:text-gray-300">Cilla-Museo</span>
                      </div>

                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>

                          <span class="mx-4 text-gray-700 dark:text-gray-300">Sala de las reliquias</span>
                      </div>
                      
                  </div>
                  <button class="buy-button w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Contactar</button>
              </div>
          </div>
      </section>
  </body>
</div>
