<section class=" informacion elementor-section elementor-top-section elementor-element elementor-element-29d7f011 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="29d7f011" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 418px; left: -15px;">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-52edbb05" data-id="52edbb05" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-e06e83a elementor-widget elementor-widget-heading" data-id="e06e83a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Nuestras Tarifas</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-480d7627 elementor-widget elementor-widget-text-editor" data-id="480d7627" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Estas son las tarifas y ofertas especiales del Monasterio:</p>						</div>
				</div>
				<div class="elementor-element elementor-element-09d12a0 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="09d12a0" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-52adce15 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="52adce15" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-2da1549e" data-id="2da1549e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap">
							</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-afe500d" data-id="afe500d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f951551 elementor-widget elementor-widget-image" data-id="f951551" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
													<img loading="lazy" decoding="async" width="851" height="284" src="https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO.png" class="attachment-large size-large wp-image-16" alt="" srcset="https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO.png 851w, https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO-300x100.png 300w, https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO-768x256.png 768w" sizes="(max-width: 851px) 100vw, 851px">													</div>
				</div>
				<div class="elementor-element elementor-element-14ef388 elementor-widget elementor-widget-heading" data-id="14ef388" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-large">5€</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-de9a486 elementor-widget elementor-widget-heading" data-id="de9a486" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-large">VISITA SIN GUÍA</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-c5f0f21 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="c5f0f21" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-0490a23 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="0490a23" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Iglesia del s. XII</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Sala capitular</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Claustro</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Cilla-Museo</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Sala de las reliquias</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-8b2ab29 elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="8b2ab29" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-xs" href="https://monasteriodecañas.es/calendario-reservas">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">SABER MÁS</span>
					</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-2a90571d" data-id="2a90571d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-aefc5e0 elementor-widget elementor-widget-image" data-id="aefc5e0" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
													<img loading="lazy" decoding="async" width="851" height="284" src="https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO.png" class="attachment-large size-large wp-image-16" alt="" srcset="https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO.png 851w, https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO-300x100.png 300w, https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO-768x256.png 768w" sizes="(max-width: 851px) 100vw, 851px">													</div>
				</div>
				<div class="elementor-element elementor-element-907e722 elementor-widget elementor-widget-heading" data-id="907e722" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-large">7€</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-2e64cdcf elementor-widget elementor-widget-heading" data-id="2e64cdcf" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-large">VISITA GUIADA<br>(INDIVIDUAL)</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-6c8793a7 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="6c8793a7" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1e70a86 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="1e70a86" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Iglesia del s. XII</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Sala capitular</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Claustro</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Cilla-Museo</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Sala de las reliquias</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Recorrido guiado por la Iglesia</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Recorrido guiado por la Sala Capitular</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Recorrido guiado por el Claustro</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Recorrido guiado por la Sala de las Reliquias</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-6a1d3d36 elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="6a1d3d36" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-xs" href="https://monasteriodecañas.es/calendario-reservas">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">SABER MÁS</span>
					</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-1608c9ae" data-id="1608c9ae" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap">
							</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-17e14746 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="17e14746" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-56cbfec6" data-id="56cbfec6" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap">
							</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-1dbaaedd" data-id="1dbaaedd" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-55ad7610 elementor-widget elementor-widget-image" data-id="55ad7610" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
													<img loading="lazy" decoding="async" width="851" height="284" src="https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO.png" class="attachment-large size-large wp-image-16" alt="" srcset="https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO.png 851w, https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO-300x100.png 300w, https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO-768x256.png 768w" sizes="(max-width: 851px) 100vw, 851px">													</div>
				</div>
				<div class="elementor-element elementor-element-6356da3b elementor-widget elementor-widget-heading" data-id="6356da3b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-large">2€</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-2c59503c elementor-widget elementor-widget-heading" data-id="2c59503c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-large">VISITA SIN GUÍA<br>(NIÑOS)</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-63fa9c2c elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="63fa9c2c" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-01aba3c elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="01aba3c" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Iglesia del s. XII</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Sala capitular</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Claustro</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Cilla-Museo</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Sala de las reliquias</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-7f758a8a elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="7f758a8a" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-xs" href="https://monasteriodecañas.es/calendario-reservas">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">SABER MÁS</span>
					</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-7f20adae" data-id="7f20adae" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-44cf539a elementor-widget elementor-widget-image" data-id="44cf539a" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
													<img loading="lazy" decoding="async" width="851" height="284" src="https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO.png" class="attachment-large size-large wp-image-16" alt="" srcset="https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO.png 851w, https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO-300x100.png 300w, https://xn--monasteriodecaas-kub.es/wp-content/uploads/2023/04/Logotipo-Canas-Luz-BLANCO-768x256.png 768w" sizes="(max-width: 851px) 100vw, 851px">													</div>
				</div>
				<div class="elementor-element elementor-element-8d86dbd elementor-widget elementor-widget-heading" data-id="8d86dbd" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-large">4€</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-39f01ab1 elementor-widget elementor-widget-heading" data-id="39f01ab1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-large">VISITAS guIADAS<br>(GRUPOS MÁS 25 PERSONAS)</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-1b2e731b elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="1b2e731b" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-a913abb elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="a913abb" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Iglesia del s. XII</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Sala capitular</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Claustro</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Cilla-Museo</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Sala de las reliquias</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-88a52eb elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="88a52eb" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-xs" href="https://monasteriodecañas.es/calendario-reservas">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">SABER MÁS</span>
					</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-5efce625" data-id="5efce625" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap">
							</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-7cafc0c8 elementor-widget elementor-widget-text-editor" data-id="7cafc0c8" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p style="text-align: center;">* <b>ENTRADA GRUPOS: </b>Más de 25 personas, consultar disponibilidad en entradas&#64;monasteriodecañas.es<br>* <b>VISITAS GUIADAS: </b>Consultar disponibilidad.</p>
                </div>
				</div>
					</div>
		</div>
					</div>
		</section>
