@media (min-width: 1024px) {
    .container {
        font-size: 1.15rem;
    }
}

@media(max-width: 1023) {
    .container {
        justify-items: center;
    }
}

button:hover {
    color: #333;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #d4af37, #b8870b);
    color: white;
    border-radius: 10px;
}