<h2 class="new-list text-2xl md:text-3xl font-bold text-center mb-10">Noticias</h2>

<div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:gap-12 px-12 sm:px-20">
  <!-- Primera columna -->
  <div
    class="bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 h-full">
    <a href="https://harodigital.com/noticias-de-rioja-alta/musica-y-patrimonio-se-unen-en-el-monasterio-de-canas-cinco-conciertos-de-lujo-para-disfrutar/"
      class="block h-full" target="_blank" rel="noopener noreferrer">
      <img class="object-cover w-full max-h-40 rounded-t-lg" src="../../../assets/home_carousel/CAÑAS 19 MAYO-21.jpg"
        alt="">
      <div class="p-4 max-h-30">
        <h5 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Música y patrimonio se unen en el Monasterio
          de Cañas</h5>
        <p class="text-gray-700 text-sm dark:text-gray-400">Cinco conciertos de lujo para disfrutar.</p>
      </div>
    </a>
  </div>

  <!-- Segunda columna -->
  <div
    class="bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 h-full">
    <a href="https://www.ondavasca.com/descubre-este-verano-la-magia-del-monasterio-de-canas/" class="block h-full"
      target="_blank" rel="noopener noreferrer">
      <img class="object-cover w-full max-h-40 rounded-t-lg"
        src="../../../assets/home_carousel/Exxterior_Canas_aerea.JPG" alt="">
      <div class="p-4 max-h-30">
        <h5 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Descubre este verano la magia del Monasterio de
          Cañas</h5>
        <p class="text-gray-700 text-sm dark:text-gray-400">También denominado el 'Monasterio de la Luz', abre sus
          puertas todos los días de verano</p>
      </div>
    </a>
  </div>
</div>

<div class="grid grid-cols-1 mt-7 mb-20 gap-8 md:grid-cols-2 lg:gap-12 px-12 sm:px-20">
  <!-- Tercera columna -->
  <div
    class="bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 h-full">
    <a href="https://www.larioja.com/comarcas/abadia-luz-podra-visitar-dias-verano-20240620082638-nt.html/"
      class="block h-full" target="_blank" rel="noopener noreferrer">
      <img class="object-cover w-full max-h-40 rounded-t-lg"
        src="../../../assets/home_carousel/noticia_visita-Canas.jpg" alt="">
      <div class="p-4 max-h-30">
        <h5 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">La 'Abadía de la Luz' se podrá visitar
          todos los días del verano</h5>
        <p class="text-gray-700 text-sm dark:text-gray-400">El Monasterio de Santa María de San Salvador amplía su
          horario de cara a la temporada estival con la previsión de
          recibir 250 visitantes diarios.</p>
      </div>
    </a>
  </div>

  <!-- Segunda columna -->
  <div
    class="bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 h-full">
    <a href="https://harodigital.com/noticias-de-rioja-alta/un-tesoro-por-descubrir-el-monasterio-de-canas-abre-sus-puertas-este-verano/#google_vignette"
      class="block h-full" target="_blank" rel="noopener noreferrer">
      <img class="object-cover w-full max-h-40 rounded-t-lg" src="../../../assets/home_carousel/MUSEO CAÑAS 2-31.jpg"
        alt="">
      <div class="p-4 max-h-30">
        <h5 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Un tesoro por descubrir: abre sus
          puertas este verano</h5>
        <p class="text-gray-700 text-sm dark:text-gray-400">La Abadía afronta la campaña estival abierta todos los días
          y con el reto de aumentar el número de visitantes</p>
      </div>
    </a>
  </div>
</div>