<div class="px-7 pt-5 sm:px-20 mt-5 pb-2">
  <h1 class="text-2xl sm:text-3xl font-semibold">Términos de privacidad</h1>
  <h2 class="mt-5 sm:text-lg uppercase font-semibold">1. Introducción</h2>
  <p>
    En el Monasterio de Santa María de San Salvador de Cañas, respetamos su privacidad y nos comprometemos a proteger la
    información personal que comparte con nosotros. Esta política de privacidad explica cómo recopilamos, utilizamos,
    divulgamos y protegemos su información personal cuando visita nuestro sitio web sobre el Monasterio de Cañas en La
    Rioja.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">2. Información que Recopilamos</h2>
  <h3 class="mt-5 sm:text-lg uppercase">Información Personal</h3>
  <p>
    Podemos recopilar información personal identificable ("Información Personal") que usted nos proporciona
    voluntariamente al usar nuestro sitio web. Esto puede incluir, pero no se limita a:
  </p>
  <ul>
    <li>Nombre</li>
    <li>Dirección de correo electrónico</li>
    <li>Número de teléfono</li>
    <li>Dirección postal</li>
    <li>Cualquier otra información que decida compartir con nosotros</li>
  </ul>

  <h3 class="mt-5 sm:text-lg uppercase">Información de Navegación</h3>
  <p>
    Recopilamos automáticamente cierta información sobre su dispositivo y el uso de nuestro sitio web, incluyendo:
  </p>
  <ul>
    <li>Dirección IP</li>
    <li>Tipo de navegador y configuración</li>
    <li>Sistema operativo</li>
    <li>Páginas visitadas en nuestro sitio</li>
    <li>Duración de las visitas a páginas específicas</li>
    <li>Información sobre el uso y la interacción con nuestro sitio web</li>
  </ul>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">3. Cómo Usamos Su Información</h2>
  <p>
    Utilizamos la información que recopilamos para los siguientes propósitos:
  </p>
  <ul>
    <li>Proveer, operar y mantener nuestro sitio web</li>
    <li>Mejorar, personalizar y expandir nuestro sitio web</li>
    <li>Comprender y analizar cómo usa nuestro sitio web</li>
    <li>Desarrollar nuevos productos, servicios, características y funcionalidades</li>
    <li>Comunicarnos con usted, ya sea directamente o a través de uno de nuestros socios, para proporcionarle
      actualizaciones y otra información relacionada con el sitio web, y con fines de marketing y promocionales</li>
    <li>Procesar sus transacciones y administrar sus pedidos</li>
    <li>Enviar correos electrónicos periódicos</li>
    <li>Detectar y prevenir el fraude</li>
  </ul>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">4. Compartir su Información</h2>
  <p>
    No vendemos, comerciamos ni transferimos a terceros su Información Personal, excepto en los siguientes casos:
  </p>
  <ul>
    <li>Con su consentimiento expreso</li>
    <li>Para cumplir con las leyes aplicables, regulaciones, procesos legales o solicitudes gubernamentales</li>
    <li>Para proteger nuestros derechos, propiedad o seguridad, o los de nuestros usuarios u otros</li>
    <li>Con proveedores de servicios terceros que nos ayudan a operar nuestro sitio web, realizar nuestro negocio o dar
      servicio a nuestros usuarios, siempre que esos terceros acuerden mantener esta información confidencial</li>
  </ul>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">5. Seguridad de su Información</h2>
  <p>
    Implementamos una variedad de medidas de seguridad para mantener la seguridad de su Información Personal cuando
    realiza un pedido o ingresa, envía o accede a su información personal. Sin embargo, ningún método de transmisión por
    Internet o método de almacenamiento electrónico es 100% seguro y no podemos garantizar su absoluta seguridad.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">6. Sus Derechos de Privacidad</h2>
  <p>
    Dependiendo de su ubicación, puede tener los siguientes derechos con respecto a su Información Personal:
  </p>
  <ul>
    <li>El derecho a acceder a su Información Personal que poseemos</li>
    <li>El derecho a rectificar cualquier Información Personal inexacta</li>
    <li>El derecho a solicitar la eliminación de su Información Personal</li>
    <li>El derecho a restringir o oponerse al procesamiento de su Información Personal</li>
    <li>El derecho a la portabilidad de los datos</li>
    <li>El derecho a retirar su consentimiento en cualquier momento, cuando el procesamiento se base en su
      consentimiento
    </li>
  </ul>
  <p>
    Para ejercer estos derechos, por favor contáctenos utilizando la información de contacto proporcionada a
    continuación.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">7. Enlaces a Terceros</h2>
  <p>
    Nuestro sitio web puede contener enlaces a otros sitios web que no son operados por nosotros. Si hace clic en un
    enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la política
    de privacidad de cada sitio que visite. No tenemos control sobre, y no asumimos ninguna responsabilidad por el
    contenido, las políticas de privacidad o las prácticas de sitios o servicios de terceros.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">8. Cambios a esta Política de Privacidad</h2>
  <p>
    Podemos actualizar nuestra política de privacidad de vez en cuando. Le notificaremos de cualquier cambio publicando
    la nueva política de privacidad en esta página. Se le recomienda revisar esta política de privacidad periódicamente
    para cualquier cambio. Los cambios a esta política de privacidad son efectivos cuando se publican en esta página.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">9. Contacto</h2>
  <p>
    Si tiene alguna pregunta sobre esta política de privacidad, puede contactarnos a:
  </p>
  <p class="text-gray-900 font-semibold">Monasterio de Santa María de San Salvador de Cañas</p>
  <p>Dirección: Carretera 12, 26312 Cañas, La Rioja, España</p>
  <p>Correo electrónico: entradas&#64;monasteriodecanas.org</p>
  <p>Teléfono: +34 941 37 91 45</p>
  <p class=" pb-10">Fecha de entrada en vigor: 1 de abril de 2023</p>
</div>