<div class="px-7 pt-5 sm:px-20 mt-5 pb-2">
  <h1 class="text-2xl sm:text-3xl font-semibold">Términos y Condiciones</h1>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">1. Introducción</h2>
  <p>
    Bienvenido al sitio web del Monasterio de Santa María de San Salvador de Cañas. Estos términos y condiciones
    describen las reglas y regulaciones para el uso de nuestro sitio web. Al acceder a este sitio, asumimos que acepta
    estos términos y condiciones en su totalidad. No continúe usando el sitio web del Monasterio de Cañas si no acepta
    todos los términos y condiciones establecidos en esta página.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">2. Terminología</h2>
  <p>
    La siguiente terminología se aplica a estos Términos y Condiciones, Política de Privacidad y Aviso de
    Exención de Responsabilidad y cualquiera o todos los Acuerdos: "Cliente", "Usted" y "Su" se refiere a usted, la
    persona que accede a este sitio web y acepta los términos y condiciones de la Compañía. "La Compañía", "Nosotros
    mismos", "Nosotros" y "Nuestro" se refiere a nuestra Compañía. "Parte", "Partes" o "Nosotros" se refiere tanto al
    Cliente como a nosotros mismos, o al Cliente o a nosotros mismos.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">3. Uso del Sitio Web</h2>
  <p>
    Al utilizar este sitio web, garantiza que tiene al menos 18 años o está visitando el sitio bajo la supervisión de
    un padre o tutor. Sujeto a los términos y condiciones de este Acuerdo, el Monasterio de Santa María de San Salvador
    de Cañas le otorga una licencia limitada, revocable, no transferible y no exclusiva para acceder y usar el sitio
    web, mostrándolo en su navegador de Internet únicamente con el fin de comprar y no para ningún uso comercial o
    uso en nombre de un tercero, excepto según lo explícitamente permitido por nosotros por adelantado.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">4. Propiedad Intelectual</h2>
  <p>
    Todo el contenido incluido en este sitio, como texto, gráficos, logotipos, iconos de botones, imágenes, clips de
    audio, descargas digitales y compilaciones de datos, es propiedad del Monasterio de Santa María de San Salvador de
    Cañas o de sus proveedores de contenido y está protegido por las leyes internacionales de derechos de autor. La
    compilación de todo el contenido de este sitio es propiedad exclusiva del Monasterio de Santa María de San Salvador
    de Cañas, con la autoría de los derechos de autor para esta recopilación por nosotros, y está protegida por las
    leyes
    internacionales de derechos de autor.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">5. Limitación de Responsabilidad</h2>
  <p>
    El Monasterio de Santa María de San Salvador de Cañas no garantiza que el sitio web esté libre de errores o que su
    acceso sea continuo o ininterrumpido. En ningún caso, el Monasterio de Santa María de San Salvador de Cañas será
    responsable de cualquier daño (incluidos, entre otros, daños incidentales y consecuentes, pérdida de beneficios o
    daños resultantes de la pérdida de datos o interrupción del negocio) que surjan del uso o la imposibilidad de uso
    del
    sitio web.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">6. Enlaces a Terceros</h2>
  <p>
    Nuestro sitio web puede contener enlaces a sitios web o servicios de terceros que no son propiedad ni están
    controlados por el Monasterio de Santa María de San Salvador de Cañas. El Monasterio de Santa María de San Salvador
    de Cañas no tiene control sobre, y no asume ninguna responsabilidad por el contenido, las políticas de privacidad o
    las prácticas de sitios web o servicios de terceros. Usted reconoce y acepta que el Monasterio de Santa María de San
    Salvador de Cañas no será responsable, directa o indirectamente, por cualquier daño o pérdida causada o
    presuntamente
    causada por o en conexión con el uso o la dependencia de cualquier contenido, bienes o servicios disponibles en o a
    través de dichos sitios web o servicios.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">7. Modificaciones</h2>
  <p>
    El Monasterio de Santa María de San Salvador de Cañas se reserva el derecho, a su sola discreción, de modificar o
    reemplazar estos Términos en cualquier momento. Si una revisión es material, intentaremos proporcionar un aviso con
    al menos 30 días de anticipación a la entrada en vigor de los nuevos términos. Lo que constituye un cambio material
    se determinará a nuestro exclusivo criterio. Al continuar accediendo o utilizando nuestro Servicio después de que
    esas revisiones se hagan efectivas, usted acepta estar sujeto a los términos revisados.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">8. Ley Aplicable</h2>
  <p>
    Estos Términos se regirán e interpretarán de acuerdo con las leyes de España, sin tener en cuenta sus disposiciones
    sobre conflicto de leyes. Nuestra falta de hacer cumplir cualquier derecho o disposición de estos Términos no se
    considerará una renuncia a esos derechos. Si alguna disposición de estos Términos es considerada inválida o
    inaplicable por un tribunal, las disposiciones restantes de estos Términos permanecerán en vigor. Estos Términos
    constituyen el acuerdo completo entre nosotros con respecto a nuestro Servicio, y reemplazan y sustituyen cualquier
    acuerdo anterior que pudiéramos tener entre nosotros con respecto al Servicio.
  </p>

  <h2 class="mt-5 sm:text-lg uppercase font-semibold">9. Contacto</h2>
  <p>
    Si tiene alguna pregunta sobre estos Términos, por favor contáctenos:
  </p>
  <p class="text-gray-900 font-semibold">Monasterio de Santa María de San Salvador de Cañas</p>
  <p>Dirección: Carretera 12, 26312 Cañas, La Rioja, España</p>
  <p>Correo electrónico: entradas&#64;monasteriodecanas.org</p>
  <p>Teléfono: +34 941 37 91 45</p>
  <p class="pb-10">Fecha de entrada en vigor: 1 de abril de 2023</p>
</div>