   <div id="default-carousel" class="top-0 w-full h-screen" data-carousel="slide">
    <div class="bg-black top-0 relative h-full lg:h-screen overflow-hidden m-0 p-0 hover:ease-in shadow-lg">
      <div class="hidden duration-1000 ease-in-out hover:ease-in carousel-item" data-carousel-item>
        <img src="../../../assets/home_carousel/CAÑAS EXTERIOR-37.jpg" class="img-car absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-1000 ease-in-out hover:ease-in carousel-item" data-carousel-item>
        <img src="../../../assets/home_carousel/CAÑAS INTERIOR-109.jpg" class="img-car absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-1000 ease-in-out hover:ease-in carousel-item" data-carousel-item>
        <img src="../../../assets/home_carousel/MUSEO CAÑAS 2-31.jpg" class="img-car absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-1000 ease-in-out hover:ease-in carousel-item" data-carousel-item>
        <img src="../../../assets/home_carousel/SEPULCRO-1.jpg" class="img-car absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-1000 ease-in-out hover:ease-in carousel-item" data-carousel-item>
        <img src="../../../assets/home_carousel/CAÑAS EXTERIOR-19.jpg" class="img-car absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
    </div>
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-2 h-2 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-2 h-2 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-2 h-2 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-2 h-2 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      <button type="button" class="w-2 h-2 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
    </div>
  </div>
  