.informacion {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.abbey-name {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: cursive;
}

.section-sr {
  padding: 2rem 2rem 0rem
}

.video {
  padding: 5rem 2rem 0rem
}

.bg-black {
  padding: 2rem 2rem;
  margin: 5rem 2rem
}

.bg-cont {
  padding: 4rem 2rem;
  margin: 1rem 2rem 0rem
}

@media screen and (min-width: 426px) and (max-width: 767px) {

  .video,
  .section-sr {
    padding: 2rem 3rem
  }

  .bg-black {
    padding: 2rem 3rem;
    margin: 6rem 3rem
  }

  .bg-cont {
    padding: 4rem 3rem;
    margin: 3rem 3rem 0rem
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .video,
  .section-sr {
    padding: 3rem 7rem
  }

  .bg-black {
    padding: 2rem 4rem;
    margin: 7rem 7rem
  }

  .bg-cont {
    padding: 4rem 4rem;
    margin: 3rem 7rem
  }
}

@media screen and (min-width: 1280px) {

  .video,
  .section-sr {
    padding: 3rem 15rem
  }

  .bg-black {
    padding: 7rem 5rem;
    margin: 10rem 15rem
  }

  .bg-cont {
    padding: 7rem 5rem;
    margin: 3rem 15rem
  }
}